DetailsPageApp/node_modules
DetailsPageApp/package-lock.json

HomePageApp/node_modules
DetailsPageApp/package-lock.json

MF_Server/node_modules
DetailsPageApp/package-lock.json

ReactComponents/node_modules
DetailsPageApp/package-lock.json

SeatSelectionApp/node_modules
DetailsPageApp/package-lock.json