DetailsPageApp/node_modules
DetailsPageApp/package-lock.json

HomePageApp/node_modules
HomePageApp/package-lock.json

MF_Server/node_modules
MF_Server/package-lock.json

ReactComponents/node_modules
ReactComponents/package-lock.json

SeatSelectionApp/node_modules
SeatSelectionApp/package-lock.json